@font-face {
  font-family: 'CaveStoryRegular';
  src: url('https://fontlibrary.org/assets/fonts/cave-story/0321279fbcd83858f5e6c4c36c16172d/0ba7f269c83ff9ebd0fff08b79daaa10/CaveStoryRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

  @font-face {
    font-family: 'VTFMisterPixelRegular';
    src: url('https://fontlibrary.org/assets/fonts/mr-pixel/a07b08efa05d385806a8dff1d02deda1/09547d38eb30497e7c85744eec3c7a36/VTFMisterPixelRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal; }

    html, * {
      box-sizing: border-box;
      margin: 0;
      padding: 0; }

      *:after, *:before {
        box-sizing: border-box; }

        html {
          height: 100%; }

          body {
            font-family: monospace;
            color: #F7C8C8;
            font-size: 10pt;
            background: #AA6060 url('sloth.png') bottom left no-repeat fixed;
            min-height: 100%; }

            a:link, a:visited {
              color: #E0E0E0;
              text-decoration: none;
              text-shadow: 1px 1px 0 #6F2222; }

              a:hover, a:focus, a:active {
                color: #FFFFFF; }

                p {
                  font-family: 'CaveStoryRegular', sans-serif;
                  font-size: 21pt;
                  letter-spacing: 0.8pt;
                  line-height: 95%;
                  margin-bottom: 10pt; }

                  pre {
                    background-color: #101010;
                    color: #E0E0E0;
                    padding: 10pt;
                    margin: 10pt 0 20pt 0;
                    box-shadow: 10pt 10pt 0 0 #6F2222; }

                    header {
                      position: fixed;
                      bottom: 0;
                      left: 0;
                      width: 100%;
                      border-bottom: 20px solid #101010; }

                      h1, h2, h3, h4, h5 {
                        font-family: 'VTFMisterPixelRegular', monospace;
                        font-weight: normal; }

                        h2 {
                          font-size: 24pt;
                          margin: 20pt 0 6pt 0;
                          padding-bottom: 6pt;
                          color: #789494;
                          text-shadow: 1px 1px 0 #101010;
                          border-bottom: 1px solid #803F3F; }

                          article {
                            float: left;
                            width: 100%; }

                            main {
                              float: left;
                              width: 60%;
                              padding: 20pt;
                              margin-left: 30%;
                              margin-bottom: 150pt; }

                              .site-title {
                                position: absolute;
                                bottom: 20pt;
                                left: 20pt;
                                font-size: 30pt;
                                color: #101010; }

                                .site-title a {
                                  color: inherit;
                                  text-shadow: 3px 3px 0 #AA6060; }

                                  .float-list {
                                    list-style: none;
                                    float: left; }

                                    .float-list li {
                                      float: left; }

                                      .site-nav {
                                        position: absolute;
                                        padding-top: 20pt;
                                        bottom: 0;
                                        right: 0;
                                        left: 30%;
                                        background: linear-gradient(to bottom, transparent 0%, #AA6060 40%); }

                                        .site-nav ul {
                                          padding: 16pt 6pt;
                                          font-family: 'VTFMisterPixelRegular', monospace;
                                          font-size: 22pt; }

                                          .site-nav li {
                                            margin-right: 30pt; }

                                            .site-nav a {
                                              display: block;
                                              padding: 10pt;
                                              transform: translateY(0);
                                              text-shadow: 0 0 0 #6F2222;
                                              text-transform: lowercase;
                                              transition: transform 0.5s, text-shadow 0.5s; }

                                              .site-nav a:hover {
                                                animation-duration: 0.5s;
                                                animation-name: rise;
                                                transform: translateY(-5pt);
                                                text-shadow: 0 5pt 0 #6F2222; }

                                                .site-nav a:before {
                                                  content: '/'; }

                                                  .post-data {
                                                    position: fixed;
                                                    width: 30%;
                                                    padding: 20pt; }

                                                    .post-title {
                                                      font-size: 44pt;
                                                      text-shadow: 3px 3px 0 #6F2222;
                                                      margin-bottom: 24pt;
                                                      color: #F7DDC8; }

                                                      .post-title a {
                                                        color: inherit;
                                                        text-shadow: inherit; }

                                                        .post-data time {
                                                          display: block;
                                                          margin: 12pt 0;
                                                          padding: 2pt 0;
                                                          border: solid #CC8C8C;
                                                          border-width: 3px 0;
                                                          text-align: center; }

                                                          .tags {
                                                            float: left;
                                                            width: 100%;
                                                            background-color: #CC8C8C;
                                                            margin-bottom: 12pt; }

                                                            .post-nav {
                                                              float: left;
                                                              width: 100%;
                                                              clear: both; }

                                                              .tags a {
                                                                display: block;
                                                                padding: 2pt 3pt; }

                                                                .tags:before {
                                                                  display: block;
                                                                  padding: 5pt;
                                                                  margin-right: 3pt;
                                                                  float: left;
                                                                  content: 'TAGS';
                                                                  color: #AA6060;
                                                                  font-family: 'CaveStoryRegular', monospace;
                                                                  font-size: 12pt;
                                                                  border-right: 1px solid #AA6060; }

                                                                  .post-link {
                                                                    display: block;
                                                                    margin: 12pt 0;
                                                                    font-family: 'CaveStoryRegular', monospace;
                                                                    font-size: 24pt; }

                                                                    .post-link:before {
                                                                      display: block;
                                                                      content: attr(rel);
                                                                      color: #789494; }

                                                                      .post-link:hover:before {
                                                                        color: #A0C5A0; }

                                                                        .archive-list {
                                                                          list-style: none;
                                                                          margin: 12pt 0 24pt 0; }

                                                                          .archive-list time {
                                                                            margin-right: 15pt; }

                                                                            @media (min-width: 1200px) {
                                                                              .post-data {
                                                                                width: 20%;   }
                                                                                main {
                                                                                  width: 40%;   }
}
